{% extends "layout.html" %}
{% block content %}
<div class="box">
 <a class="button" href="#popup1">8:00-8:15</a>
</div>

<div id="popup1" class="overlay">
 <div class="popup">
   <h2>Zostałeś zapisany</h2>
   <a class="close" href="#">&times;</a>
   <div class="content">
     Zostałeś zapisany na dyżur do prof.Jan Kowalski na godzinę 8:00-8:15
   </div>
 </div>
</div>
<div class="box">
 <a class="button" href="#popup1">8:15-8:30</a>
</div>
<div id="popup1" class="overlay">
 <div class="popup">
   <h2>Zostałeś zapisany</h2>
   <a class="close" href="#">&times;</a>
   <div class="content">
     Zostałeś zapisany na dyżur do prof.Jan Kowalski na godzinę 8:15-8:30
   </div>
 </div>
</div>
<div class="box">
 <a class="button" href="#popup1">8:30-8:45</a>
</div>
<div id="popup1" class="overlay">
 <div class="popup">
   <h2>Zostałeś zapisany</h2>
   <a class="close" href="#">&times;</a>
   <div class="content">
     Zostałeś zapisany na dyżur do prof.Jan Kowalski na godzinę 8:30-8:45
   </div>
 </div>
</div>
<div class="box">
 <a class="button" href="#popup1">8:45-9:00</a>
</div>
<div id="popup1" class="overlay">
 <div class="popup">
   <h2>Zostałeś zapisany</h2>
   <a class="close" href="#">&times;</a>
   <div class="content">
     Zostałeś zapisany na dyżur do prof.Jan Kowalski na godzinę 8:45-9:00
   </div>
 </div>
</div>
{% endblock %}
